@using Ardalis.SmartEnum
@using ToDoList.Core.Models.Users.PersonalData

@model UserPersonalDataModel

<head>
    <meta name="viewport" , content="width=device=width" />
    <title>PersonalDate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="font-txt">

    <div class="page">
        <div style="max-width:800px; max-height:800px">

            <h5 style="text-align:center;"><b>Personal Date</b></h5>

            <form class="row g-2" method="post">
                <div class="row m-md-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                </div>

                <div class="row m-md-2">
                    <div class="col-6">
                        <label asp-for="Gender">Gender:</label>
                        <select asp-for="Gender" asp-items="@new SelectList(Gender.List)"></select>
                        <label asp-for="Country">Country:</label>
                        <select asp-for="Country" asp-items="@new SelectList(Country.List)"></select>
                    </div>
                    <div class="col-6 align-content-center">
                        <input type="date" class="form-control" placeholder="Date of Birth" />
                    </div>
                </div>


                <div class="text-center" style="padding-top:20px">
                    <button type="submit" style="font-size:16px;" asp-action="SaveDate" style="width: 100px; height: 40px;" class="btn btn-outline-success">Save</button>
                    <button type="button" style="font-size:16px;" asp-action="Close" style="width: 100px; height: 40px;" class="btn btn-outline-danger">Close</button>
                </div>
            </form>

        </div>
    </div>

    <style>
        .font-txt {
            font-family: 'Times New Roman';
        }

        .field-validation-error {
            color: red;
            font-weight: lighter;
        }

        input.input-validation-error {
            border: 1px solid #b94a48;
        }

        .page {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</body>


