@using ToDoList.Core.Models.ToDoItem
@using ToDoList.Core.Repository

@model ToDoItems

@{
    ViewData["Title"] = "Home Page";
}

@inject ToDoItemsService Service

<head>
    <meta name="viewport" , content="width=device=width" />
    <title>EditItem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Edit.cshtml/Edit.cshtml.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="p-3 font-txt">
        <div class="panel-heading text-left">
            <h2>Edit</h2>
        </div>
        
        <form asp-action="Edit" method="post">
            
            <input type="hidden" asp-for="Id" />

            <div class="col-auto form-group row div-class">
                <label asp-for="Description" class="font-txt">Description:</label>
                <textarea asp-for='Description' class="form-control description m-md-2" name="Description" onclick="autoExpand(this)" rows="1"></textarea>
            </div>

            <div class="form-group div-class">
                <label asp-for="IsCaseCompletion" class="font-txt">Complite task:</label>
                <select name="IsCaseCompletion" asp-for="IsCaseCompletion" onchange="onHidden()" id="IsCaseComplite">
                    <option value=@true>Yes</option>
                    <option value=@false>No</option>
                </select>
            </div>

            <div class="form-group div-class">
                <label asp-for="DateCreate" class="font-txt">Date Create:</label>
                <input type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="DateCreate" id="DateCreate" onchange="onChangeCreateDate()" />
            </div>


            <div class="form-group div-class" id="DisplayDateComplite">
                <label asp-for="DateCompletion" class="font-txt">Date Complite:</label>
                <input type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="@Model.DateCreate.ToString("yyyy-MM-dd")" asp-for="DateCompletion" id="DateComplition"/>
            </div>

            <div class="text-left div-class">
                <button style="font-size:16px;" class="btn btn-outline-success" type="submit">Save</button>
            </div>

        </form>

    </div>

    <script>
        function autoExpand(element) {
            element.style.height = 'auto';
            element.style.height = (element.scrollHeight) + 'px';
        }
    </script>

    <script>
        function onChangeCreateDate() {
            var isComplite = document.getElementById("IsCaseComplite");
            
            if (isComplite.value == 'False') { 
                return;
            }

            var itemDateCreate = document.getElementById("DateCreate");
            var itemDateComplite = document.getElementById("DateComplition");
            if (itemDateCreate.value > itemDateComplite.value) { 
                itemDateComplite.value = itemDateCreate.value;
            }

            itemDateComplite.min = itemDateComplite.value;

        }

        function onHidden() {
            var isComplite = document.getElementById("IsCaseComplite");
            var divDateComplite = document.getElementById("DisplayDateComplite");
            var itemDateComplite = document.getElementById("DateComplition");

            if(isComplite.value == 'False') {
                divDateComplite.hidden = true;
            }
            else {
                divDateComplite.hidden = false;
                itemDateComplite.value = "@DateTime.Now.ToString("yyyy-MM-dd")";

            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $("textarea").each(function () {
                autoExpand(this);
            });
        });

        $(document).ready(function () {
            var divDateComplite = document.getElementById("DisplayDateComplite");
            var isCaseComplite = document.getElementById("IsCaseComplite");

            if (isCaseComplite.value == 'False') {
                var itemDateComplite = document.getElementById("DateComplition");
                divDateComplite.hidden = true;
                itemDateComplite.value = null;
            }
            else {
                divDateComplite.value
                divDateComplite.hidden = false;
            }
        })

        window.onresize = function () {
            $("textarea").each(function () {
                autoExpand(this);
            });
        }
    </script>

</body>
