.description {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.c-button {
    width: 100%;
    font-family: inherit;
    appearance: none;
    border-radius: 6px;
    background: #ffffff;
    color: #000000;
    padding: 6px 6px;
    font-size: 1rem;
    cursor: pointer;
    border-color: #198754;
}

.c-button:hover {
    background: #098613;
    color: #fff;
}

.c-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #feffa1;
}

.description-txt {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.strikethroughText {
    text-decoration: line-through;
}