@using ToDoList.Core.Models.ToDoItem
@using ToDoList.Core.Models.Users
@using ToDoList.Core.Repository

@model ToDoItemsModel

@{
    ViewData["Title"] = "Home Page";
}

@inject ToDoItemsService Service
@inject User User 

<head>
    <meta  name="viewport", content="width=device=width"/>
    <title>ViewToDo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="panel panel-succses font-txt">
        <div class="panel-heading text-center">
            <h2>ToDoItems</h2>
        </div>
        <div class="panel-body">
            <form class="p-2" asp-action="ViewToDo" method="post">
                <input type="hidden" asp-for="UserId" value="@User.Id"/>
                <table class="form-group" style="width:100%">
                    <tr >
                        <td style="width:5%">
                            <input type="checkbox" asp-for="IsCaseCompletion" style="font-size:14px;"/>
                        </td>
                        <td style="width:95%">
                            <textarea class="form-control" asp-for="Description" contenteditable="true"></textarea>
                        </td>
                    </tr>
                </table>
                <div class="text-center" style="padding-top:20px">
                    <button style="font-size:16px; " class="btn btn-outline-success mr-4" type="submit">Add</button>
                    <button style="font-size:16px; " class="btn btn-outline-success" type="reset">Clear</button>
                </div>
            </form>
        </div>
    </div>

    <div style="padding-top:10px" class="font-txt">
        @{
            Html.RenderPartial("Table", Service.GetNotCompliteTask());
        }
    </div>

    <hr />

    <div class="accordion font-txt" id="accordionExample" style="padding-bottom:50px">
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color:antiquewhite; color:darkgreen">
                    Completed items on the list
                </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                @{
                    Html.RenderPartial("Table", Service.GetCompliteTask());
                }
            </div>
        </div>
    </div>

    <style>
        .font-txt {
            font-family: 'Times New Roman';
        }
    </style>

</body>