@using ToDoList.Core.Models.Affair

@model AffairsModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center font-txt">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size:18px">Authentication next job</p>
</div>
